[client]
host="localhost"
user="admin"
password="adminpassword"
default-character-set="utf8mb4"

[moodle]
database=moodle
muploaddir=/var/www/moodledata
mhome=/var/www/html
backupdir=/home/ubuntu/moodlebackup
